<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-success">
    
 
    <div style="margin-left:40%;" class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Sınıflandır</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/ozetle">Özetle</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/sentiment">Duygu Analizi</a>
        </li>
        
      </ul>
      
    </div>
  </nav>